{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-4">

        <h3>Sales Records</h3>

        <a href="{% url 'create_sale' %}"
           class="btn btn-success">

            New Sale

        </a>

    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">

            <tr>

                <th>Invoice</th>
                <th>Customer</th>
                <th>Customer Type</th>
                <th>Payment</th>
                <th>Total</th>
                <th>Status</th>
                <th>Date</th>
                <th>Receipt</th>

            </tr>

        </thead>

        <tbody>

            {% for sale in sales %}

            <tr>

                <td>{{ sale.invoice_no }}</td>

                <td>{{ sale.customer.name }}</td>

                <td>{{ sale.customer.customer_type }}</td>

                <td>{{ sale.payment_method }}</td>

                <td>{{ sale.final_total }}</td>

                <td>{{ sale.status }}</td>

                <td>{{ sale.created_at }}</td>

                <td>

                    <a href="{% url 'sale_receipt' sale.id %}"
                       class="btn btn-primary btn-sm">

                        View Receipt

                    </a>

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="8" class="text-center">

                    No sales yet

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}