{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card p-5">

        <h3>{{ supplier.company_name }}</h3>

        <hr>

        <p>
            <strong> Name:</strong>
            {{ supplier.contact_person}}
        </p>

        <p>
            <strong>Phone:</strong>
            {{ supplier.phone_number }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ supplier.email }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ supplier.location }}
        </p>
    </div>

</div>

{% endblock %}